
<div class="about-block">
    <div class="about-text">
        <br>
        <div class="about-title">> Discord</div>
        
        <div class="about-title-line"><hr></div>
        <br>
        <div class="about-content">
            <a href="https://discordapp.com/users/455256442761379850" target="_blank" style="color:#FFFFFF;text-decoration: none;">
                J3lyF15hhhhhh#4564
            </a>
        </div>
    </div>
    <div class="about-img">
        <a href="https://discordapp.com/users/455256442761379850" target="_blank">
            <img src="/static/img/src/discord.jpg">
        </a>
    </div>
</div>
<div class="about-block">
    <div class="about-text">
        <br>
        <div class="about-title">> HackMD</div>
        
        <div class="about-title-line"><hr></div>
        <br>
        <div class="about-content">
            <a href="https://hackmd.io/@JelyFishhhhhh" target="_blank" style="color:#FFFFFF;text-decoration: none;">
                JelyFishhhhhh
            </a>
        </div>
    </div>
    <div class="about-img">
        <a href="https://hackmd.io/@JelyFishhhhhh" target="_blank">
            <img src="/static/img/src/hackmd.jpg">
        </a>
    </div>
</div>
<div class="about-block">
    <div class="about-text">
        <br>
        <div class="about-title">> Github</div>
        
        <div class="about-title-line"><hr></div>
        <br>
        <div class="about-content">
            <a href="https://github.com/JelyFishhhhhh" target="_blank" style="color:#FFFFFF;text-decoration: none;">
                JelyFishhhhhh
            </a>
        </div>
    </div>
    <div class="about-img">
        <a href="https://github.com/JelyFishhhhhh" target="_blank">
            <img src="/static/img/src/github.jpg">
        </a>
    </div>
</div>
<div class="about-block">
    <div class="about-text">
        <br>
        <div class="about-title">> Instagram</div>
        
        <div class="about-title-line"><hr></div>
        <br>
        <div class="about-content">
            <a href="https://www.instagram.com/70ny._.w419.h/" target="_blank" style="color:#FFFFFF;text-decoration: none;">
                70ny._.w419.h
            </a>
        </div>
    </div>
    <div class="about-img">
        <a href="https://www.instagram.com/70ny._.w419.h/" target="_blank">
            <img src="/static/img/src/instagram.jpg">
        </a>
    </div>
</div>