<div class="about-block">
    <div class="about-text">
        <br>
        <div class="about-title">社群</div>
        
        <div class="about-title-line"><hr></div>
        <br>
        <div class="about-subtitle">> Discord</div>
        <br>
        <div class="about-content">
            <a href="https://discordapp.com/users/455256442761379850" target="_blank" style="color:#FFFFFF;text-decoration: none;">
                J3lyF15hhhhhh#4564
            </a>
        </div>
    </div>
    <div class="about-img">
        <a href="https://discordapp.com/users/455256442761379850" target="_blank">
            <img src="/static/img/src/discord.jpg">
        </a>
    </div>
</div>