<div class="bar-empty"></div>
<img src="static/img/icon/logo.svg" onclick="scroll_to('title')"></img>
<div class="bar-title font" onclick="scroll_to('title')"><b>J3lyF1shhhhhh's BLOG</b></div>
<div class="bar-empty-2"></div>
<div class="button-div cfont" onclick="scroll_to('home')"><div>Home</div></div>
<div class="button-div cfont" onclick="scroll_to('mission')"><div>Mission</div></div>
<div class="button-div cfont" onclick="scroll_to('about')"><div>About</div></div>
<div class="button-div cfont">
    <div class="first-option" onclick="scroll_to('record')">Record</div>
    <div class="option" style="--index: 1" onclick="scroll_to('record-2020')">2020</div>
</div>
<div class="button-div cfont"  onclick="scroll_to('contact')"><div>Contact</div></div>