<div class="mission-title">"Talk is cheap. Show the code."</div>
<div class="mission-subtitle">別嘴砲 ! 放碼過來 !</div>
<div class="mission-content">
    我是個熱愛攝影及摳頂的平凡高中生。
    <br>
    攝影，紀錄下生活中的美好;
    <br>
    摳頂，創造了更美好的生活。
    <br>
    也許，有天我們將會死去;
    <br>
    然而，代碼與回憶將永遠被保存。
</div>
<div class="mission-tags">#EST. 2005 #Dreamer #Keep Fighting</div>

<div class="mission-completed-block">
    <div class="mission-completed-text">
        <div class="mission-completed-title">> Mission Completed</div>
        <div class="line"><hr></div>
        <br>
        <div class="mission-completed-content">
            <img class="checked-box" src="static/img/icon/checked.ico" style="width: 10%;">
            
            創建自己的網站
        </div>
    </div>
</div>