<div class="paragraph-title-ch">想泥ㄌ</div>
<!-- <div class="paragraph-hr"><hr></div> -->
<br>
<div class="paragraph-subtitle">
    好多好多話想跟妳說<br>
    卻不知道如何開口<br>
    更不知道有沒有資格<br>
    ㄏㄏㄏ<br>
    <br>
    我最想告訴妳的是<br>
    學測進入倒數了<br>
    如果壓力大的話記得要適時的釋放<br>
    記得 再沒有人願意跟妳發洩的話<br>
    還有我 我會永遠在妳身後<br>
    <br>
    我很想鼓起勇氣放下我的手機<br>
    然 我最放不下的是妳<br>
    沒有名分的放不下妳<br>
    從始至終 我只知道我的心思全都在妳身上<br>
    好希望未來的每一天 我能持續的陪在妳身邊<br>
    不管有天我們是不是還是朋友 <br>
    亦或是終於走到了我不再喜歡妳的那一天<br>
    但是後者發生的機率是趨近零吧 <br>
    畢竟我也是默默地喜歡著妳快三年了吧<br>
    以朋友的名義 默默地陪在妳身旁 儘管有時妳看不見<br>
    <br>
    在未來 望我能持續的喜歡著妳<br>
    或許喜歡的不只是妳 <br>
    而是會為了一個女孩持續努力不懈怠的我<br>
    更希望有朝一日我能不已一位朋友關心著妳<br>
    而是已一輩子為賭注 投入一場勝率100%的賭局<br>
</div>
<br>
<div class="paragraph-title-eng">Lone time no U "/</div>
<br>
<div class="paragraph-subtitle">
妳不再出現在我的夢境裡<br>
我的生活或許不會因為失去一位朋友那麼難過<br>
不過 不知為何少了妳的生活 就像沒有主程式的程式碼<br>
再多的優化 也起不了任何的作用<br>
<br>
分享欲是喜歡的開始 明明可以敷衍的打個哈哈哈<br>
我卻費盡心思 努力的只為了得到你的一個回應<br>
更希望妳能夠再多關注我一點<br>
然換來的卻是安靜的聊天室 <br>
才過了幾分鐘就充滿了焦急與等待<br>
最後不知不覺的 又過了一天、兩天 慢慢地趨近了無限<br>
<br>
或許在妳的生命中 我只是位不起眼的摳的<br>
部署好所有的環境 換來的卻只有404<br>
甚至更慘的 一切的努力在執行的剎那瞬間白費<br>
<br>
努力讓自己不那麼死板 費盡心思暗示著我好喜歡妳<br>
只剩一排無止盡的...陪伴者我的尷尬<br>
<br>
聽著別人唱著分手快樂、失戀無罪<br>
一邊附和著、一邊絕望著<br>
近三年的努力真不值那麼一回事嗎..?<br>
只希望 在最後我們還能繼續當朋友<br>
果然性格扭曲的人不配擁有戀愛<br>
明知道身邊曾有過許多的機會<br>
拚盡全力的閃躲 直至大家變成了好朋友<br>
在最後卻被狠狠地捅了一刀 深深的一刀<br>
被那喜歡了好久好久的妳<br>
<br>
</div>