<div class="paragraph-title">想泥ㄌ</div>
<!-- <div class="paragraph-hr"><hr></div> -->
<br>
<div class="paragraph-subtitle">
    好多好多話想跟妳說<br>
    卻不知道如何開口<br>
    更不知道有沒有資格<br>
    ㄏㄏㄏ<br>
    <br>
    我最想告訴妳的是<br>
    學測進入倒數了<br>
    如果壓力大的話記得要適時的釋放<br>
    記得 再沒有人願意跟妳發洩的話<br>
    還有我 我會永遠在妳身後<br>
    <br>
    我很想鼓起勇氣放下我的手機<br>
    然 我最放不下的是妳<br>
    沒有名分的放不下妳<br>
    從始至終 我只知道我的心思全都在妳身上<br>
    好希望未來的每一天 我能持續的陪在妳身邊<br>
    不管有天我們是不是還是朋友 <br>
    亦或是終於走到了我不再喜歡妳的那一天<br>
    但是後者發生的機率是趨近零吧 <br>
    畢竟我也是默默地喜歡著妳快三年了吧<br>
    以朋友的名義 默默地陪在妳身旁 儘管有時妳看不見<br>
    <br>
    在未來 望我能持續的喜歡著妳<br>
    或許喜歡的不只是妳 <br>
    而是會為了一個女孩持續努力不懈怠的我<br>
    更希望有朝一日我能不已一位朋友關心著妳<br>
    而是已一輩子為賭注 投入一場勝率100%的賭局<br>
</div>
<!-- <img class="home-img" src="static\img\src\home.png"> -->