<div class="record-title">活動紀錄區</div>
<div id="record-2020" class="record-out-block">
    <div class="record-block">
        <div class="event-block">
            <div class="event-title"> 
                109學年度 
                <hr>
                學科能力競試嘉華中學校內初賽 
                <br>
                — 資訊科
            </div>
            <div class="event-content">
                第一名
            </div>
            <hr class="event-hr">
            <div class="event-subcontent">
                <img src="static/img/src/record/2020/rcd-2020-1.jpg">
            </div>
        </div>
    </div>
    <div class="record-block">
        <div class="event-block">
            <div class="event-title"> 
                109學年度 
                學科能力競試第五區複賽 — 資訊科
            </div>
            <div class="event-content">佳作</div>
            <hr class="event-hr">
            <div class="event-subcontent">
                <img src="static/img/src/record/2020/rcd-2020-2.jpg">
            </div>
        </div>
    </div>
</div>