<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link rel="icon" href="static/img/icon/profile.ico">
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="static/css/root.css">
        <link rel="stylesheet" href="static/css/home.css">
        <link rel="stylesheet" href="static/css/about.css">
        <script src="static/js/import.js"></script>
        <script src="static/js/root.js"></script>
        <title>J3lyF1shhhhhh - Tony Wang</title>
    </head>

    <body onscroll="scroll_change()">
        <img class="title-img" src="static/img/src/profile.png">
        <ih class="content" id="home"></ih>
        <ih class="content" id="about"></ih>
    </body>
    <script>
        includeHTML();
        index_onload();
        scroll_change();
    </script>
</html>